.react-calendar {
    width: 100% !important;
    background: transparent;
    border: none !important;
    font-family: inherit;
}

.react-calendar__navigation {
    margin-bottom: 20px;
}

.react-calendar__navigation button {
    min-width: 44px;
    font-size: 18px;
    font-weight: 600;
}

.react-calendar__month-view__weekdays {
    text-transform: none;
    font-weight: 700;
}

.react-calendar__tile {
    height: 70px;
    border-radius: 14px;
    position: relative;
}

.react-calendar__tile--active {
    background: #2196F3 !important;
    color: white !important;
}

.react-calendar__tile:hover {
    background: #fff3b0;
}

@media (max-width: 768px) {

    .react-calendar__tile {
        height: 55px;
        font-size: 14px;
    }

    .react-calendar__navigation button {
        font-size: 16px;
    }
}